crewai
crewai_tools
beautifulsoup4==4.13.4
google-cloud-aiplatform>=1.38.0
google-cloud-firestore
google-cloud-storage
google-cloud-pubsub
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
pydantic
python-dotenv==1.0.1
requests==2.32.3
markdown==3.6
firebase-admin>=6.0.1