[Unit]
Description=OpenRGB SDK server (headless)

[Service]
ExecStart=/usr/bin/openrgb --server --noautoconnect
Restart=on-failure
RestartSec=10

[Install]
WantedBy=default.target
